<!--
basic html forming a mastermind board
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
.guess{
    display:flex;
}
span{

    border: 1px black solid;
    display: block;
    width: 32px;
    height:2em;

}
</style>
<body>
<% if guesses>0 %>
  
<% @@guessesmaster.each do |guess| %>
<div class="guess"><div>Gissning : </div>
<span style="background-color:<%= guess[0] %>"> </span>
<span style="background-color:<%= guess[1] %>"> </span>
<span style="background-color:<%= guess[2] %>"> </span>
<span style="background-color:<%= guess[3] %>"> </span>
<% cirarr = [] 
if guess[5]>0 then cirarr.push('black') end
if guess[5]>1 then cirarr.push('black') end
if guess[5]>2 then cirarr.push('black') end
if guess[5]>3 then cirarr.push('black') end
if guess[4]>0 then cirarr.push('white') end
if guess[4]>1 then cirarr.push('white') end
if guess[4]>2 then cirarr.push('white') end
if guess[4]>3 then cirarr.push('white') end
while cirarr.length<4 do cirarr.push('blank') end
%>
<div><svg height="2em" width="2em">
<% if cirarr[0]!='blank' %>
    <circle cx="0.5em" cy="0.5em" r="0.3em" stroke="black" stroke-width="1" fill="<%= cirarr[0] %>" />
    <% if cirarr[1]!='blank' %>
        <circle cx="0.5em" cy="1.5em" r="0.3em" stroke="black" stroke-width="1" fill="<%= cirarr[1] %>" />
        <% if cirarr[2]!='blank' %>
            <circle cx="1.5em" cy="0.5em" r="0.3em" stroke="black" stroke-width="1" fill="<%= cirarr[2] %>" />
            <% if cirarr[3]!='blank' %>
                <circle cx="1.5em" cy="1.5em" r="0.3em" stroke="black" stroke-width="1" fill="<%= cirarr[3] %>" />
            <% end %>
        <% end %>
    <% end %>
<% end %>
</svg>
</div>
</div>
<% end %>
<% lastpick = @@guessesmaster.last %>
<% else %>
<% lastpick = [@@colors[0],@@colors[0],@@colors[0],@@colors[0]] %>
<% end %>
       <form>
        <div>
            <select name="pos1">
                <% @@colors.each do |color| %>
                    <% if (color == lastpick[0]) %>
                        <option value="<%= color %>" selected><%= color %></option>
                    <% else %>
                        <option value="<%= color %>"><%= color %></option>
                    <% end %>
                <% end %>
            </select>
            <select name="pos2">
                <% @@colors.each do |color| %>
                    <% if (color == lastpick[1]) %>
                        <option value="<%= color %>" selected><%= color %></option>
                    <% else %>
                        <option value="<%= color %>"><%= color %></option>
                    <% end %>
                <% end %>
            </select>
            <select name="pos3">
                <% @@colors.each do |color| %>
                    <% if (color == lastpick[2]) %>
                        <option value="<%= color %>" selected><%= color %></option>
                    <% else %>
                        <option value="<%= color %>"><%= color %></option>
                    <% end %>
                <% end %>
            </select>
            <select name="pos4">
                <% @@colors.each do |color| %>
                    <% if (color == lastpick[3]) %>
                        <option value="<%= color %>" selected><%= color %></option>
                    <% else %>
                        <option value="<%= color %>"><%= color %></option>
                    <% end %>
                <% end %>
            </select>
        </div>
        <input type="submit" value="Testa">
    </form>
</body>
</html>